<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.platform.lib">
    <application
        android:usesCleartextTraffic="true">
        <!--HTTP-->
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <activity
            android:name="com.platform.lib.widget.RewardActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/VideoTheme"/>
        <!--兼容部分第三方广告SDK存在Http请求,android:networkSecurityConfig="@xml/network_security_config"-->
    </application>
</manifest>